body {
  padding: 0;
  margin: 0;
  background: #040330;
}

h1 {
  margin-top: 80px;
  color: white;
  text-align: center;
}

.box {
  height: 600px;
  width: 500px;
  background: none;
  border-radius: 3px;
  color: white;
  margin: 0 auto;
  margin-top: 100px;
  -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
  padding: 100px auto;
}

.box__button {
  margin-left: 25px;
  text-align: center;
  margin-top: 25px;
  width: 450px;
  height: 50px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  color: white;
  background: none;
  font-size: 16px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box__button:hover {
  color: white;
  text-decoration: none;
}

.box__button:hover span:nth-child(1) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.box__button:hover span:nth-child(2) {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.box__button:hover span:nth-child(3) {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.box__button:hover span:nth-child(4) {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.box__button span {
  color: white;
  display: block;
  position: absolute;
  background: white;
}

.box__button span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.box__button span:nth-child(2) {
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.box__button span:nth-child(3) {
  right: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.box__button span:nth-child(4) {
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.box__input {
  margin: 0 auto;
  width: 450px;
  height: 50px;
  border: 2px solid white;
  background: none;
  color: white;
}

.box__label {
  font-size: 18px;
}

.box__checkbox {
  position: relative;
  width: 60px;
  height: 30px;
  -webkit-appearance: none;
  background: none;
  border-radius: 15px;
  border: 2px solid white;
  top: 40px;
  left: 400px;
}

.box__checkbox::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: white;
  top: -2px;
  left: -2px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.box__checkbox:checked {
  background: white;
}

.box__checkbox:checked::before {
  background: #040330;
  left: 30px;
  border: 2px solid white;
}

.converter {
  position: relative;
}

#input-label,
#output-label {
  font-size: 20px;
}

#input-number,
#output-number,
#input-label,
#output-label {
  margin: 0 calc((100% - 450px)/2);
}
/*# sourceMappingURL=style.css.map */