$bodyColor:#040330;
$whiteColor:white;
body {
    padding: 0;
    margin: 0;
    background: $bodyColor;
}

h1 {
    margin-top: 80px;
    color: $whiteColor;
    text-align: center;
}

.box {
    height: 600px;
    width: 500px;
    background: none;
    border-radius: 3px;
    color: $whiteColor;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    padding: 100px auto;
    &__button {
        margin-left: 25px;
        text-align: center;
        margin-top: 25px;
        width: 450px;
        height: 50px;
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 10px 30px;
        text-transform: uppercase;
        color: white;
        background: none;
        font-size: 16px;
        letter-spacing: 2px;
        transition: 0.5s;
        &:hover {
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
            span:nth-child(1) {
                transform: scaleY(1);
                transform-origin: bottom;
                transition: transform 0.5s;
            }
            span:nth-child(2) {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.5s;
            }
            span:nth-child(3) {
                transform: scaleY(1);
                transform-origin: bottom;
                transition: transform 0.5s;
                transition-delay: 0.3s;
            }
            span:nth-child(4) {
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.5s;
                transition-delay: 0.3s;
            }
        }
        span {
            color: white;
            display: block;
            position: absolute;
            background: white;
            &:nth-child(1) {
                left: 0;
                bottom: 0;
                width: 2px;
                height: 100%;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform 0.5s;
            }
            &:nth-child(2) {
                left: 0;
                bottom: 0;
                height: 2px;
                width: 100%;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
            }
            &:nth-child(3) {
                right: 0;
                bottom: 0;
                height: 100%;
                width: 2px;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform 0.5s;
                transition-delay: 0.3s;
            }
            &:nth-child(4) {
                left: 0;
                top: 0;
                height: 2px;
                width: 100%;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
                transition-delay: 0.3s;
            }
        }
    }
    &__input {
        margin: 0 auto;
        width: 450px;
        height: 50px;
        border: 2px solid $whiteColor;
        background: none;
        color: white;
    }
    &__label {
        font-size: 18px;
    }
    &__checkbox {
        position: relative;
        width: 60px;
        height: 30px;
        -webkit-appearance: none;
        background: none;
        border-radius: 15px;
        border: 2px solid $whiteColor;
        top: 40px;
        left: 400px;
        &::before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background: $whiteColor;
            top: -2px;
            left: -2px;
            transform: scale(1.1);
            box-shadow: 0 2px 5px rgba($color: #000000, $alpha: .2)
        }
        &:checked {
            background: white;
            &::before {
                background: $bodyColor;
                left: 30px;
                border: 2px solid white;
            }
        }
    }
}

.converter {
    position: relative;
}

#input-label,
#output-label {
    font-size: 20px;
}

#input-number,
#output-number,
#input-label,
#output-label {
    margin: 0 calc((100% - 450px)/2);
}